/* .app {
  height: 100vh;
  width: 100vw;   
} */

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* height: 100%;
  width: 100%; */
  height: 100vh;
  width: 100vw; 
}

.nav-container {
  background-color: #f7cac9;
  padding: 10px;
}

.main-container {
  display: grid; 
  /* background-color: grey; */
  background-color:#f7786b;
  grid-template-columns: repeat(5, 1fr, 2fr, 2fr, 2fr, 1fr);
  grid-template-rows: 30vh, 30vh, 30vh, 10vh;
  /* grid-auto-rows: minmax(100px, auto); */
  align-items: center;
  grid-template-areas: 
      ". . h . ."
      ". t t t ."
      ". b b b ."
      ". . s . .";
}

.head {
  justify-content: center;
  align-content: start;
  margin: auto;
  grid-area: h;
}
.top-belt {
  justify-content: center;
  align-content: center;
  margin: auto;
  grid-area: t;
  display: flex;
}

.bottom-belt {
  justify-content: center;
  align-content: center;
  margin: auto;
  grid-area: b;
  display: flex;
}

.save {
  justify-content: center;
  align-content: start;
  margin: auto;
  grid-area: s;
  /* height: 100px; */
}

img{
  height: 30vh;
  width: auto;
}

.face {
  padding-top: 10px;
  height: 190px;
  width: auto;
}

.was-validated .form-control:valid~.invalid-feedback {
    display: none;
}
