body, html {
  height: 100%
}

.bgimg {
  display: block;
  /* Background image */
  background-image: url('https://i.pinimg.com/originals/35/ca/f8/35caf8b8e6f979ac4c18dfa8e99e3165.jpg');
  /* Full-screen */
  height: 100vh;
  /* width: 100%; */
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 50px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.welcome-header{
  text-align: center;
  font-size: 60px; 
}

a {
  color: white;
}

a:hover {
  color: rgb(243, 243, 243);
}

#signup-login {
 width: 550px;
 height: 100px;
 margin: auto;
 position: relative;
}



