.app {
  /* display: grid;
  border: 1px solid blue;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  align-items: center;
  grid-template-areas: 
      "n n m m m m "
      "n n m m m m "
      "n n m m m m "
      "n n m m m m " */
      
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.nav-container {
  background-color: lightgray;
}

.main-container {
  display: grid; 
  background-color: grey;
  grid-template-columns: repeat(5, 1fr, 2fr, 2fr, 2fr, 1fr);
  grid-auto-rows: minmax(200px, auto);
  align-items: center;
  grid-template-areas: 
      ". . h . ."
      ". t t t ."
      ". b b b ."
      ". . s . .";
}

.head {
  margin: auto;
  grid-area: h;
  /* set minmax min 200px */
}
.top-belt {
  margin: auto;
  grid-area: t;
  display: flex;
  /* set minmax min 200px */
}

.bottom-belt {
  margin: auto;
  grid-area: b;
  display: flex;
  /* set minmax min 200px */
}

.save {
  justify-content: center;
  margin: auto;
  grid-area: s;
}

img{
  height: 200px;
  width: 150px;
}

.face {
  height: 200px;
  width: auto;
}

